<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_room.launch"/>
  <include file="$(find odometry)/launch/odometry.launch"/>
  <node name="Mapper" pkg="puzzlebot_nav2d" type="mapping_Beto_Eq7.py"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_nav2d)/rviz/config.rviz"/>
  <include file="$(find puzzlebot_nav2d)/launch/right-hand-rule_Eq7.launch"/>
</launch>